<div>

  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>

  <tabset>

    <tab heading="Top AP Item Picks">
      <h3>Top AP Item Picks</h3>
      <div class="datasets row">
        <div ng-repeat="dataset in dataSets" class="dataset col-xs-6">
          <div class="ap-item-list">
            <p class="version">Patch: {{dataset.dataService.version}}</p>
            <div class="ap-item" ng-repeat="item in dataset.itemsData">
              <p>{{item.data.name}} - {{item.uses}}</p>
              <img ng-src='{{item.icon}}' />
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Top Champion Picks">
      <h3>Top Champion Picks</h3>
      <div class="datasets row">
        <div class="selector highlight">
          <p class="lane">Select Lane:</p>
          <select ng-model="laneFilter.lane" ng-options="l for l in dataSets[0].topChampionPicks.options" />
        </div>
        <div class="dataset col-xs-6" ng-repeat="dataset in dataSets">
          <div class="top-champion-list">
            <p class="version">Patch: {{dataset.dataService.version}}</p>
            <div ng-repeat="lane in dataset.topChampionPicks.lanes | filter: laneFilter">
              <div class="champ" ng-repeat="c in lane.champions">
                <p>{{c.champion.data.name}} <span class="uses">{{c.uses}}</span></p>
                <img ng-src='{{c.champion.icon}}' />
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Match Statistics">
      <h3>Match Stats per match</h3>
      <div class="datasets row">
        <div class="dataset col-xs-6" ng-repeat="dataset in dataSets">
          <ul class="stat-list">
            <p class="version">Patch: {{dataset.dataService.version}}</p>
            <li>
              <span>Total Kills</span>
              <p>{{dataset.stats.kills}}</p>
            </li>
            <li>
              <span>Magic Damage Dealt</span>
              <p>{{dataset.stats.magicDamageDealt}}</p>
            </li>
            <li>
              <span>Magic Damage Dealt To Champions</span>
              <p>{{dataset.stats.magicDamageDealtToChampions}}</p>
            </li>
            <li>
              <span>Creeps Kills Per Minutes</span>
              <p>{{dataset.stats.creepsPerMin}}</p>
            </li>
            <li>
              <span>God Earn Per Min </span>
              <p>{{dataset.stats.godPerMin}}</p>
            </li>
          </ul>
        </div>
      </div>
    </tab>

    <tab heading="Match Champions">
      <h3>Match Champions And Items</h3>
      <div class="datasets row">
        <div class="dataset col-xs-6" ng-repeat="dataset in dataSets">
          <div class="match-list">
            <p class="version">Patch: {{dataset.dataService.version}}</p>
            <div class="selector highlight">
              <p>Select Match:</p>
              <select
                ng-model="matchFilters[$index].matchId"
                ng-options="v.matchId as v.matchId for (k, v) in dataset.matchesData.options" />
            </div>
            <div ng-repeat="m in dataset.matchesData.matches | filter: matchFilters[$index]">
              <div class="champ" ng-repeat="p in m.participants">
                <img class="champ-head" ng-src='{{p.champion.icon}}' />
                <span ng-repeat="item in p.items">
                  <img class="champ-item" ng-src='{{item.icon}}' />
                </span>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </tab>

  </tabset>

</div>